<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color-background-switch-active</key>
	<string>#009AE0</string>
	<key>color-background-switch-active-alt</key>
	<string>#009AE0</string>
	<key>color-background-toggle-active</key>
	<string>#97D700</string>
	<key>color-background-toggle</key>
	<string>rgba(255,255,255,0.5)</string>
	<key>color-background-toggle-inactive</key>
	<string>#413C50</string>
	<key>color-text-button-default-white</key>
	<string>#ffffff</string>
	<key>color-text-button-default-disabled</key>
	<string>rgb(130,102,116)</string>
	<key>color-background-button-default-disabled</key>
	<string>rgb(91,64,81)</string>
	<key>color-background-toggle-disabled</key>
	<string>rgba(255,255,255,0.5)</string>
	<key>color-background-brand-primary</key>
	<string>#F05055</string>
	<key>color-background-brand-primary-active</key>
	<string>#005fb2</string>
	<key>color-background-brand-primary-active-alt</key>
	<string>#009AE0</string>
	<key>color-background-brand-primary-disabled</key>
	<string>#634051</string>
	<key>color-border-button-default</key>
	<string>#dddbda</string>
	<key>color-border-button-default-alt</key>
	<string>#F05055</string>
	<key>color-border-button-default-alt-2</key>
	<string>#FFFFFF</string>
	<key>color-background-secondary</key>
	<string>#ffffff</string>
	<key>color-text-button-default</key>
	<string>#F05055</string>
	<key>color-text-button-default-active</key>
	<string>#F05055</string>
	<key>color-text-button-default-alt</key>
	<string>#FFFFFF</string>
	<key>color-text-button-default-alt-2</key>
	<string>#F05055</string>
	<key>color-contrast-primary</key>
	<string>rgba(0,0,0,0)</string>
	<key>color-contrast-secondary</key>
	<string>rgba(0,0,0,0)</string>
	<key>color-border-button-inverse-disabled</key>
	<string>rgba(255,255,255,0.15)</string>
	<key>color-text-placeholder</key>
	<string>rgba(184,192,195,0.96)</string>
	<key>color-border-input</key>
	<string>#dddbda</string>
	<key>color-background-input</key>
	<string>#ffffff</string>
	<key>color-background-input-active</key>
	<string>#ffffff</string>
	<key>color-background-input-focus</key>
	<string>#72808A</string>
	<key>color-background-input-focus-alt</key>
	<string>rgba(114,128,138,0.9)</string>
	<key>color-text-link-primary-focus</key>
	<string>#FFFFFF</string>
	<key>color-text-link-secondary-focus</key>
	<string>#B8C0C3</string>
	<key>color-border-input-active</key>
	<string>#1589ee</string>
	<key>color-background-input-disabled</key>
	<string>#ecebea</string>
	<key>color-border-input-disabled</key>
	<string>#c9c7c5</string>
	<key>color-text-input-disabled</key>
	<string>#706e6b</string>
	<key>color-background-input-error</key>
	<string>#ffdde1</string>
	<key>color-text-error</key>
	<string>#c23934</string>
	<key>color-text-tab-label-selected</key>
	<string>#0070d2</string>
	<key>color-border-tab-selected</key>
	<string>#0070d2</string>
	<key>color-brand-darker</key>
	<string>#005fb2</string>
	<key>color-brand-dark</key>
	<string>#0070d2</string>
	<key>color-text-link-primary</key>
	<string>#0070d2</string>
	<key>color-background-text-link-primary</key>
	<string>#009AE0</string>
	<key>color-background-selection</key>
	<string>#d8edff</string>
	<key>color-text-tertiary</key>
	<string>#969492</string>
	<key>color-text-tertiary-alt</key>
	<string>#ffffff</string>
	<key>color-text-default</key>
	<string>#ffffff</string>
	<key>color-text-disabled</key>
	<string>#9FA8AF</string>
	<key>color-text-disabled-alt</key>
	<string>#9FA8AF</string>
	<key>color-background-shade-dark</key>
	<string>#252832</string>
	<key>color-background-shade-dark-alt</key>
	<string>#252832</string>
	<key>color-background-shade-dark-alt-2</key>
	<string>#252832</string>
	<key>color-background</key>
	<string>#413C50</string>
	<key>color-border-separator</key>
	<string>rgba(245,246,248,0.2)</string>
	<key>color-border-separator-alt</key>
	<string>rgba(255,255,255,0.2)</string>
	<key>color-border-separator-inverse</key>
	<string>rgba(255,255,255,0.2)</string>
	<key>color-background-row-active</key>
	<string>rgba(0,0,0,0)</string>
	<key>color-background-inverse</key>
	<string>#000000</string>
	<key>color-background-success</key>
	<string>#97D700</string>
	<key>color-text-icon-default</key>
	<string>#F05055</string>
	<key>color-text-brand</key>
	<string>#FFFFFF</string>
	<key>color-text-inverse</key>
	<string>#FFFFFF</string>
	<key>color-text-secondary</key>
	<string>#FFFFFF</string>
	<key>color-background-cell-selected</key>
	<string>#07B0E2</string>
	<key>color-background-disabled</key>
	<string>#586268</string>
	<key>color-text-navigationbar</key>
	<string>#A4AAB3</string>
	<key>color-background-black</key>
	<string>#121319</string>
	<key>color-background-black-alt</key>
	<string>#000000</string>
	<key>color-background-clear</key>
	<string>rgba(0,0,0,0)</string>
	<key>color-text-searchbox-alt</key>
	<string>#DBDCE1</string>
	<key>color-text-icon-inverse</key>
	<string>rgba(255,255,255,0.6)</string>
	<key>color-text-icon-inverse-disabled</key>
	<string>#586268</string>
	<key>color-text-link-inverse-disabled</key>
	<string>#9FA8AF</string>
	<key>color-background-scrollbar-track</key>
	<string>rgb(91,64,81)</string>
	<key>color-background-icon-lime</key>
	<string>#98D529</string>
	<key>color-background-icon-orange</key>
	<string>#F37F36</string>
	<key>color-background-icon-blue</key>
	<string>#29B2E1</string>
	<key>color-background-icon-gray</key>
	<string>#9FA8AF</string>
	<key>color-background-icon-gray-disabled</key>
	<string>#DBDCE1</string>
	<key>color-background-alt-inverse</key>
	<string>rgb(114,128,138)</string>
	<key>color-background-error-dark</key>
	<string>#E8CC31</string>
	<key>color-background-statusbar</key>
	<string>#5e696f</string>
	<key>color-background-cell-primary-alt</key>
	<string>rgba(0,0,0,0)</string>
</dict>
</plist>
